# generated reports
reports/

# Virtual environments
venv/
.env

# VS Code settings
.vscode/

# doit database
.doit.db

# macOS and Windows system files
.DS_Store
Thumbs.db

# Python cache and test files
__pycache__/
*.pyc
.pytest_cache/

# Distribution / packaging
*.egg-info/